@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

.Guilherme{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.486);
}



.fundo{
    background: url(imagens/fundo-parede.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
}

.calculadora{
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.815);
    top: 30%;
    left: 40%;
    transform: translate (-50% -50%);
    border-radius: 15px;
    padding: 10px;
}

#resultado{
    width: 194px;
    height: 25px;
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: right;
    
}




.botao{
    background-color: rgb(14, 13, 13);
    color: white;
    font-size: 16px;
    width: 50px;
    height: 50px;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.822)
    
}

.botao:hover{
    background-color: rgba(14, 13, 13, 0.938);

}